<!DOCTYPE html>
<html>
	<head>
		<title>YelpCamp</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<meta name="google-site-verification" content="Cwy5hLw-XA4CNfMbpveX8dGEb_49tGFwpKF9VXtg7Y4" />
	</head>
	<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<a class="navbar-brand" href="/">YelpCamp</a>
		<a class="nav-link mr-auto" href="/campgrounds">Campgrounds</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">		
			<ul class="navbar-nav ml-auto">
				<% if(!currentUser){ %>
					<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
					<li class="nav-item"><a class="nav-link" href="/register">Sin Up</a></li>
				<% } else{ %>
					<li class="nav-item"><a class="nav-link">Signed in as <%= currentUser.username %></a></li>
					<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
				<% } %>
			</ul>
		</div>
	</nav>
	<div class="container">
		<% if(error && error.length >0){ %>
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<%= error %>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
				</button>
			</div>
		<% } %>
		<% if(success && success.length >0){ %>
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				<%= success %>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
				</button>
			</div>
		<% } %>
	</div>
	


