<% include ../partials/header %>
<div class="container">
	<header class ="jumbotron">
		<h1>Welcome To YelpCamp <i class="fas fa-campground"></i></h1>
		<p>View our hand-picked campgrounds from all over the world</p>
		<p>
		<a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a>
		</p>
	</header>
	
	<div class="row text-center">
		<% campgrounds.forEach(function(campgrounds){ %>
			<div id="mar" class="col-lg-3 col-md-4 col-sm-6">
				<div class="card h-100">
					<div class="embed-responsive embed-responsive-16by9">
						<img class="card-img-top embed-responsive-item" src="<%=campgrounds.image%>">
					</div>
					<div class="card-body">
						<h4 class="card-title"><%=campgrounds.name%></h4>
					</div>
					<div class="card-footer">
						<a href="/campgrounds/<%= campgrounds._id%>" class="btn btn-primary">More Info</a>
					</div>
				</div>
			</div>
		<% }); %>
	</div>
</div>

<% include ../partials/footer %>